body {

background-color: #ffe6f9;
}

h1 {

font-family:  Futura;
text-align: center;

}
h3{

font-family: Futura;
text-align: center;
margin-left:100px;
margin-right:100px;


}

h5{


text-align: center;

}

td{

padding-top:10px;

}

li {
border : 0px solid #ffffff;
font-family: Futura, Tahoma, sans-serif;
color:#ffffff;
border-radius:5px 5px; 
background-color: #f29dcc;
display: inline;
padding: 0px 0px 0px 0px;

}

#leftpic{

border: 5px solid black;

margin-left:20px;
float:left;
display: inline;
}

.leftpic1{

border: 5px solid black;
margin-left:100px;
display: inline;

}


.text {

text-align: center;

}

.picc{

magrin-left:60px;

}

.smaller{

border: 5px solid black;
width: 50%
height:100px;
margin-left: 450px

}

.gallery{

border: 5px solid black;
width: 10%
height:100px;
margin-left: 50px;
margin-top:50px;

}

#lol{

margin-left: 100px;

}

.veg{

border: 5px solid black;
width: 50%
height:100px;
margin-left: 500px

}

.mid{

border: 5px solid black;
width: 50%
height:100px;
margin-left: 400px

}

.midd{


border: 5px solid black;
width: 50%
height:100px;
margin-left: 350px

}


}
#rightpic{

border: 5px solid black;
margin-top:10px;
margin-left: 20px;
display: inline;


}

h4 {
 text-align: left;
  margin-right: 50px;
  margin-left: 50px;
  font-family: Futura;
}


.top-nav {
    float: right;
    width: 100%;
  
    text-align: center;
}
.top-nav ul.res {
    padding:-10em -10em -10em -10em;
    list-style: none;
}
.top-nav ul.res li{
    display:inline-block;
}
.top-nav ul.res li a {
    font-size: 1.05em;
    color: #fff;
    padding: 1em;
    display: block;
}


.sub-nav {
    float: right;
    width: 100%;
  
    text-align: left;
}
.sub-nav ul.res {
    padding:-10em -10em -10em -10em;
    list-style: none;
}
.sub-nav ul.res li{
    display:inline-block;
}
.sub-nav ul.res li a {
    font-size: 1.05em;
    color: #fff;
    padding: 1em;
    display: block;
}

iframe{



 margin-left: 80px;



}

.lala{
 margin-left: 450px;

}

